<nav class="navbar">
  <div class="header-title"> <a href="/">NELLIE OLSSON WENNBERG</a></div>
 
  <div class="navs">
<a href="/projects" class="nav-link">work</a>
 <a href="/about" class="nav-link">about</a>
<a href="mailto:nellieolssonwennberg@gmail.com">contact </a>
</nav>

