<nav class="navbar">
  <!--left...icon-->
  <div class="header-icon"> </div>
  <!--middle-->
  <div class="title" id="title"> <a href="/"></a> </div>
  <!--right (hamburger, account, osv.)-->

</nav>
<div class="headerright">
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</div>
<ul class="nav-menu">
  <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>

  <li class="nav-item"><a href="/projects" class="nav-link">work</a></li>
  <li class="nav-item2"><a href="/about" class="nav-link">about</a></li>
  <li class="nav-item2"><a href="/contact" class="nav-link">contact</a></li>

</ul>