<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />¨
    <!--font-->
    <link rel="stylesheet" href="https://use.typekit.net/ctw3jxm.css" />
    <link rel="stylesheet" href="/css/styles-cv.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mjg5twu.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ctw3jxm.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
    </style>
    <script src="/js/functions.js" defer></script>

    <title>Portfolio</title>
  </head>

  <body>
    {{{body}}}
  </body>

</html>