<div class="pageLayoutprojects">
  <div class="left">
    <ul>
      <li><a> OM MIG </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<!--HEADER-->
<nav class="projectheader">
  <!--left...icon-->
  <div class="header-icon"> </div>
  <!--middle-->
  <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>
  <!--right (hamburger, account, osv.)-->
  <div class="headerright_other">
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <ul class="nav-menu">
    <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>

    <li class="nav-item"><a href="/projects" class="nav-link">work</a></li>
    <li class="nav-item2"><a href="/about" class="nav-link">about</a></li>
    <li class="nav-item2"><a href="/contact" class="nav-link">contact</a></li>

  </ul>
</nav>
<!---->

<div class="about">

  <div class="aboutinformation">
    <h1>Lär känna mig bättre!</h1>
    <p>
      Jag heter Nellie Olsson Wennberg och studerar grafisk design och
      webbutveckling vid Jönköping University, där jag får kombinera min
      kreativitet med tekniska färdigheter. Med en examen i
      arkitekturvisualisering har jag byggt en stark grund i Photoshop och
      3D-design, något som format mitt arbetssätt och förstärkt min passion för
      design. Jag älskar att lära mig nya saker, utvecklas och utmana mina
      kreativa gränser. Lugn, nyfiken och driven, med en vilja att växa, så tror
      jag på att drömma stort och ständigt utvecklas både personligt och
      professionellt.
    </p>
  </div>
  <img class="portrait-img" src="/img/cv-img.png" />
</div>
<div class="cv">
  <h1>Skills</h1>

</div>