<div class="pageLayoutprojects">
  <div class="left">
    <ul>
      <li><a> CONTACT </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<!--HEADER-->
<nav class="projectheader">
  <!--left...icon-->
  <div class="header-icon"> </div>
  <!--middle-->
  <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>
  <!--right (hamburger, account, osv.)-->
  <div class="headerright_other">
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <ul class="nav-menu">
    <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>

    <li class="nav-item"><a href="/projects" class="nav-link">work</a></li>
    <li class="nav-item2"><a href="/about" class="nav-link">about</a></li>
    <li class="nav-item2"><a href="/contact" class="nav-link">contact</a></li>

  </ul>
</nav>
<!---->
<div class="kontaktamig">

  <div class="kontakt-innehåll">
    <div class="kontakt-text">
      <h2>Kontakta mig här</h2>

      <div class="links">
        <!-- Kolumn 1: Mail -->
        <div class="kontakt-item">
          <img src="/img/mail@300x.png" alt="Mail ikon" />
          <a href="mailto:nellieolssonwennberg@gmail.com">
            nellieolssonwennberg@gmail.com
          </a>
        </div>

        <!-- Kolumn 2: LinkedIn -->
        <div class="kontakt-item">
          <img src="/img/linkedin@300x.png" alt="LinkedIn ikon" />
          <a
            href="https://www.linkedin.com/in/nellie-olsson-wennberg-046923240"
            target="_blank"
            rel="noopener noreferrer"
          >
            linkedin: nellieolssonwennberg
          </a>
        </div>
      </div>
    </div>

    <div class="kontakt-image">
      <img src="/img/cv-img.png" alt="Profilbild" />
    </div>
  </div>
</div>