<div class="pageLayout">
  <div class="left">
    <ul>
      <li><a> CONTACT </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<div class="contactme">
  <h2>
    I would love to hear from you!<br />
    Fill out the form below or contact me to get in touch.
  </h2>
</div>

<form>
  <div class="formcontainer">

    <div class="box1">
      <label for="fname">First name:</label><br />
      <input type="text" id="fname" name="fname" /><br />
    </div>
    <div class="box2">
      <label for="lname">Last name:</label><br />
      <input type="text" id="lname" name="lname" /><br />
    </div>
    <div class="box3">
      <label for="message">Type in your message</label><br />
      <textarea type="text" id="message" name="message"></textarea>
    </div>
    <input id="submitbtn" type="submit" value="send" />

  </div>
</form>

<div class="information">
  <h3>Contact Information</h3>
  <ul>
    <li>Email: nellieolssonwennberg@gmail.com</li>
    <li>Phone: +46 xxx xxx xxx</li>
    <li>Address: Skövde, Sweden</li>
  </ul>
</div>