<div class="pageLayout">
  <div class="left">
    <ul>
      <li><a> HOME </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

{{#if session.isAdmin}}
  <h2 class="welcomeadmin">Welcome nellie</h2>
{{/if}}

<!-- Source: https://chatgpt.com/share/66fbed52-31e4-8011-9d75-b818f0679540, 2024 -->
<!-- how to create image carousel on startpage -->
<div class="showing-projects">
  <div class="projects-carousel">
    <a href="/project/1">
      <img src="/img/comicserie.jpg" alt="project1" /></a>
    <a href="/project/2">
      <img src="/img/Mockup.jpg" alt="project2" /></a>
    <a href="/project/3">
      <img src="/img/meatballgame.png" alt="project3" /></a>
    <a href="/project/4">
      <img src="/img/brandingGona.jpg" alt="project4" /></a>
  </div>
  <div class="projects-carousel">
    <a href="/project/1">
      <img src="/img/comicserie.jpg" alt="project1" /></a>
    <a href="/project/2">
      <img src="/img/Mockup.jpg" alt="project2" /></a>
    <a href="/project/3">
      <img src="/img/meatballgame.png" alt="project3" /></a>
    <a href="/project/4">
      <img src="/img/brandingGona.jpg" alt="project4" /></a>
  </div>
</div>