<div class="pageLayout">
  <div class="left">
    <ul>
      <li><a> LOG IN </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<div class="login">
  <div class="mytextcard">
    <!--<h1 class="loginform">Login</h1>-->
    <div class="button-box">
      <!--<div id="btn"></div>-->
      <button
        type="button"
        class="toggle-btn-login"
        onclick="login()"
      >Login</button>
      <a href="/register"><button
          type="button"
          class="toggle-btn"
          onclick="register()"
        >Register</button>
      </a>
    </div>
    <form id="login" class="input-group" action="/login" method="post">
      <label for="username">Username:</label><input
        type="text"
        id="username"
        name="username"
      /><br />
      <label for="password">Password:</label><input
        type="password"
        id="password"
        name="password"
      /><br />
      <input id="submitbtn" type="submit" value="Log in" />
    </form>
  </div>

  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  {{#if message}}
    <div class="error">{{message}}</div>
  {{/if}}

</div>