<div class="pageLayout">
  <div class="left">
    <ul>
      <li><a> MODIFY USER </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>
<div id="principal">
  <li class="backbtn">
    <a href="/userpage">back</a>
  </li>
  <div class="login">

    <div class="mytextcard">
      <h1>Modify user</h1>

      <form id="register" action="/user/modify/{{user.uid}}" method="POST">

        <label for="username">Username:</label><input
          type="text"
          id="username"
          name="username"
          value="{{user.username}}"
        /><br />
        <!--
      <label for="email">Email:</label><input
        type="text"
        id="email"
        name="email"
      /><br />-->
        <label for="password">Password:</label><input
          type="password"
          id="password"
          name="password"
          value="{{user.password}}"
        /><br />
        <input id="submitbtn" type="submit" value="Modify User" />

      </form>
    </div>
  </div>
</div>